[submodule "themes/Argo"]
	path = themes/Argo
	url = https://github.com/OberlinMotionLab/Argo.git
[submodule "public"]
	path = public
	url = https://github.com/OberlinMotionLab/OberlinMotionLab.github.io.git
